body{
  background-color: #add8e6
}
.header{
  border: 2px;
  height: 3%;
}
.header img{
margin: 5px 10px 5px 10px;
padding: 3px;
float: left;
height: auto;
}
.about-self{
  background: #808000;
  height:100px;
}
